<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-category" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>

                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
                        <div class="col-sm-10">
                            <div class="well well-sm"><?php echo $name; ?></div>
                            <input hidden type="text" name="name" value="<?php echo $name; ?>"  id="input-name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-email"><?php echo $entry_email; ?></label>
                        <div class="col-sm-10">
                            <div class="well well-sm"><?php echo $email; ?></div>
                            <input hidden type="text" name="email" value="<?php echo $email; ?>"  id="input-email" />
                        </div>
                    </div>
                    <input hidden type="text" name="id" value="<?php echo $id; ?>" id="input-id" />

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-date"><?php echo $entry_date; ?></label>
                        <div class="col-sm-10">
                            <div class="well well-sm"><?php echo $date; ?></div>
                            <input hidden type="text" name="date" value="<?php echo $date; ?>" id="input-date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-text"><?php echo $entry_text; ?></label>
                        <div class="col-sm-10">
                            <div class="well well-lg"><?php echo $text; ?></div>
                            <textarea  hidden name="text" cols="60" rows="8" id="input-text"><?php echo $text; ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                <?php if ($readed == 1) { ?>
                                <option value="1" selected="selected"><?php echo $text_readed; ?></option>
                                <option value="0"><?php echo $text_not_readed; ?></option>
                                <?php } else { ?>
                                <option value="1"><?php echo $text_readed; ?></option>
                                <option value="0" selected="selected"><?php echo $text_not_readed; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="alert alert-warning text-center" role="alert">
                        <?php echo $email_send; ?>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-title-answer"><?php echo $entry_title_answer; ?></label>
                        <div class="col-sm-10">
                            <input  name="title_answer" value="<?php echo $title_answer; ?>" id="input-title-answer" placeholder="<?php echo $title_answer_placeholder; ?>" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-answer"><?php echo $entry_answer; ?></label>
                        <div class="col-sm-10">
                            <textarea  name="answer" cols="60" rows="8" id="input-answer" placeholder="<?php echo $answer_placeholder; ?>" class="form-control"><?php echo $answer; ?></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>
<?php echo $footer; ?>
